.a_columns {
  display: flex; }

.a_columns {
  --columnGap: 0.75rem;
  margin-left: calc(-1 * var(--columnGap));
  margin-right: calc(-1 * var(--columnGap)); }
  .a_columns > .a_column {
    padding-left: var(--columnGap);
    padding-right: var(--columnGap); }

.a_column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1; }

.a_columns_gab_0 {
  --columnGap: 0rem; }

.a_columns_gab_1 {
  --columnGap: 0.25rem; }

.a_columns_gab_2 {
  --columnGap: 0.5rem; }

.a_columns_gab_3 {
  --columnGap: 0.75rem; }

.a_columns_gab_4 {
  --columnGap: 1rem; }

.a_columns_gab_5 {
  --columnGap: 1.25rem; }

.a_columns_gab_6 {
  --columnGap: 1.5rem; }

.a_columns_gab_7 {
  --columnGap: 1.75rem; }

.a_columns_gab_8 {
  --columnGap: 2rem; }

.a_columns_count_1 {
  --columnCount: 1; }

.a_columns_count_2 {
  --columnCount: 2; }

.a_columns_count_3 {
  --columnCount: 3; }

.a_columns_count_4 {
  --columnCount: 4; }

.a_columns_count_5 {
  --columnCount: 5; }

.a_columns_count_6 {
  --columnCount: 6; }

.a_columns_count_7 {
  --columnCount: 7; }

.a_columns_count_8 {
  --columnCount: 8; }

.a_columns_count_9 {
  --columnCount: 9; }

.a_columns_count_10 {
  --columnCount: 10; }

.a_columns_count_11 {
  --columnCount: 11; }

.a_columns_count_12 {
  --columnCount: 12; }

.a_column_1 {
  flex: none;
  width: calc(100% / var(--columnCount) * 1); }

.a_column_2 {
  flex: none;
  width: calc(100% / var(--columnCount) * 2); }

.a_column_3 {
  flex: none;
  width: calc(100% / var(--columnCount) * 3); }

.a_column_4 {
  flex: none;
  width: calc(100% / var(--columnCount) * 4); }

.a_column_5 {
  flex: none;
  width: calc(100% / var(--columnCount) * 5); }

.a_column_6 {
  flex: none;
  width: calc(100% / var(--columnCount) * 6); }

.a_column_7 {
  flex: none;
  width: calc(100% / var(--columnCount) * 7); }

.a_column_8 {
  flex: none;
  width: calc(100% / var(--columnCount) * 8); }

.a_column_9 {
  flex: none;
  width: calc(100% / var(--columnCount) * 9); }

.a_column_10 {
  flex: none;
  width: calc(100% / var(--columnCount) * 10); }

.a_column_11 {
  flex: none;
  width: calc(100% / var(--columnCount) * 11); }

.a_column_12 {
  flex: none;
  width: calc(100% / var(--columnCount) * 12); }

.a_column_offset_1 {
  margin-left: calc(100% / var(--columnCount) * 1); }

.a_column_offset_2 {
  margin-left: calc(100% / var(--columnCount) * 2); }

.a_column_offset_3 {
  margin-left: calc(100% / var(--columnCount) * 3); }

.a_column_offset_4 {
  margin-left: calc(100% / var(--columnCount) * 4); }

.a_column_offset_5 {
  margin-left: calc(100% / var(--columnCount) * 5); }

.a_column_offset_6 {
  margin-left: calc(100% / var(--columnCount) * 6); }

.a_column_offset_7 {
  margin-left: calc(100% / var(--columnCount) * 7); }

.a_column_offset_8 {
  margin-left: calc(100% / var(--columnCount) * 8); }

.a_column_offset_9 {
  margin-left: calc(100% / var(--columnCount) * 9); }

.a_column_offset_10 {
  margin-left: calc(100% / var(--columnCount) * 10); }

.a_column_offset_11 {
  margin-left: calc(100% / var(--columnCount) * 11); }
