@import "aloha_prefix";
@import "color_utils";

$btn-hover-bg-shade-amount:       15% !default;
$btn-hover-bg-tint-amount:        15% !default;
$btn-hover-border-shade-amount:   20% !default;
$btn-hover-border-tint-amount:    10% !default;
$btn-active-bg-shade-amount:      20% !default;
$btn-active-bg-tint-amount:       20% !default;
$btn-active-border-shade-amount:  25% !default;
$btn-active-border-tint-amount:   10% !default;

$btn-active-box-shadow:           inset 0 3px 5px rgba($black, .125) !default;

$btn-link-color:              var(--#{$aloha-prefix}color_link) !default;
$btn-link-hover-color:        var(--#{$aloha-prefix}color_link_hover) !default;
$btn-link-disabled-color:     var(--#{$aloha-prefix}color_gray_600) !default;

.#{$aloha-prefix}btn {
  --#{$aloha-prefix}btn_padding_x: 0.75rem;
  --#{$aloha-prefix}btn_padding_y: 0.375rem;
  --#{$aloha-prefix}btn_font_size: 1rem;
  --#{$aloha-prefix}btn_font_weight: 400;
  --#{$aloha-prefix}btn_line_height: 1.5;
  --#{$aloha-prefix}btn_color: #212529;
  --#{$aloha-prefix}btn_bg: transparent;
  --#{$aloha-prefix}btn_border_width: 1px;
  --#{$aloha-prefix}btn_border_color: transparent;
  --#{$aloha-prefix}btn_border_radius: var(--#{$aloha-prefix}border_radius);
  --#{$aloha-prefix}btn_disabled_opacity: 0.65;
  --#{$aloha-prefix}btn_focus_box_shadow: 0 0 0 0.25rem rgba(var(--#{$aloha-prefix}btn_focus_shadow_rgb), .5);

  display: inline-block;
  padding: var(--#{$aloha-prefix}btn_padding_y) var(--#{$aloha-prefix}btn_padding_x);
  font-family: var(--#{$aloha-prefix}btn_font_family);
  font-size: var(--#{$aloha-prefix}btn_font_size);
  font-weight: var(--#{$aloha-prefix}btn_font_weight);
  line-height: var(--#{$aloha-prefix}btn_line_height);
  color: var(--#{$aloha-prefix}btn_color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--#{$aloha-prefix}btn_border_width) solid var(--#{$aloha-prefix}btn_border_color);
  border-radius: var(--#{$aloha-prefix}btn_border_radius);
  background-color: var(--#{$aloha-prefix}btn_bg);


  &:hover {
    color: var(--#{$aloha-prefix}btn_hover_color);
    background-color: var(--#{$aloha-prefix}btn_hover_bg);
    border-color: var(--#{$aloha-prefix}btn_hover_border_color);
  }

  &:focus {
    color: var(--#{$aloha-prefix}btn_focus_color, var(--#{$aloha-prefix}btn_hover_color));
    background-color: var(--#{$aloha-prefix}btn_hover_bg);
    border-color: var(--#{$aloha-prefix}btn_hover_border_color);
    outline: 0;
    box-shadow: var(--#{$aloha-prefix}btn_focus_box_shadow);
  }

  &:active,
  &.active {
    color: var(--#{$aloha-prefix}btn_active_color);
    background-color: var(--#{$aloha-prefix}btn_active_bg);
    border-color: var(--#{$aloha-prefix}btn_active_border_color);
  }

  &.disabled,
  &:disabled,
  fieldset:disabled & {
    color: var(--#{$aloha-prefix}btn_disabled_color);
    pointer-events: none;
    background-color: var(--#{$aloha-prefix}btn_disabled_bg);
    border-color: var(--#{$aloha-prefix}btn_disabled_border_color);
    opacity: var(--#{$aloha-prefix}btn_disabled_opacity);
  }
}

.#{$aloha-prefix}btn_group_large > .#{$aloha-prefix}btn,
.#{$aloha-prefix}btn_large {
  --#{$aloha-prefix}btn_padding_y: 0.5rem;
  --#{$aloha-prefix}btn_padding_x: 1rem;
  --#{$aloha-prefix}btn_font_size: 1.25rem;
  --#{$aloha-prefix}btn_border_radius: var(--#{$aloha-prefix}border_radius_large);
}

.#{$aloha-prefix}btn_group_small > .#{$aloha-prefix}btn,
.#{$aloha-prefix}btn_small {
  --#{$aloha-prefix}btn_padding_y: 0.25rem;
  --#{$aloha-prefix}btn_padding_x: 0.5rem;
  --#{$aloha-prefix}btn_font_size: 0.875rem;
  --#{$aloha-prefix}btn_border_radius: var(--#{$aloha-prefix}border_radius_small);
}

@mixin button-variant(
  $background,
  $border,
  $color: color-contrast($background),
  $hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
  $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
  $hover-color: color-contrast($hover-background),
  $active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
  $active-color: color-contrast($active-background),
  $disabled-background: $background,
  $disabled-border: $border,
  $disabled-color: color-contrast($disabled-background)
) {
  --#{$aloha-prefix}btn_color: #{$color};
  --#{$aloha-prefix}btn_bg: #{$background};
  --#{$aloha-prefix}btn_border_color: #{$border};
  --#{$aloha-prefix}btn_hover_color: #{$hover-color};
  --#{$aloha-prefix}btn_hover_bg: #{$hover-background};
  --#{$aloha-prefix}btn_hover_border_color: #{$hover-border};
  --#{$aloha-prefix}btn_focus_shadow_rgb: #{to-rgb(mix($color, $border, 15%))};
  --#{$aloha-prefix}btn_active_color: #{$active-color};
  --#{$aloha-prefix}btn_active_bg: #{$active-background};
  --#{$aloha-prefix}btn_active_border_color: #{$active-border};
  --#{$aloha-prefix}btn_active_shadow: #{$btn-active-box-shadow};
  --#{$aloha-prefix}btn_disabled_color: #{$disabled-color};
  --#{$aloha-prefix}btn_disabled_bg: #{$disabled-background};
  --#{$aloha-prefix}btn_disabled_border_color: #{$disabled-border};
}

@mixin button-outline-variant(
  $color,
  $color-hover: color-contrast($color),
  $active-background: $color,
  $active-border: $color,
  $active-color: color-contrast($active-background)
) {
  --#{$aloha-prefix}btn_color: #{$color};
  --#{$aloha-prefix}btn_border_color: #{$color};
  --#{$aloha-prefix}btn_hover_color: #{$color-hover};
  --#{$aloha-prefix}btn_hover_bg: #{$active-background};
  --#{$aloha-prefix}btn_hover_border_color: #{$active-border};
  --#{$aloha-prefix}btn_focus_shadow_rgb: #{to-rgb($color)};
  --#{$aloha-prefix}btn_active_color: #{$active-color};
  --#{$aloha-prefix}btn_active_bg: #{$active-background};
  --#{$aloha-prefix}btn_active_border_color: #{$active-border};
  --#{$aloha-prefix}btn_active_shadow: #{$btn-active-box-shadow};
  --#{$aloha-prefix}btn_disabled_color: #{$color};
  --#{$aloha-prefix}btn_disabled_bg: transparent;
  --#{$aloha-prefix}btn_disabled_border_color: #{$color};
  --#{$aloha-prefix}gradient: none;
}

.#{$aloha-prefix}btn_primary {
  @include button-variant($primary, $primary);
}
.#{$aloha-prefix}btn_secondary {
  @include button-variant($secondary, $secondary);
}
.#{$aloha-prefix}btn_success {
  @include button-variant($success, $success);
}
.#{$aloha-prefix}btn_info {
  @include button-variant($info, $info);
}
.#{$aloha-prefix}btn_warning {
  @include button-variant($warning, $warning);
}
.#{$aloha-prefix}btn_danger {
  @include button-variant($danger, $danger);
}
.#{$aloha-prefix}btn_light {
  @include button-variant(
    $light,
    $light,
    $hover-background: shade-color($light, $btn-hover-bg-shade-amount),
    $hover-border: shade-color($light, $btn-hover-border-shade-amount),
    $active-background: shade-color($light, $btn-active-bg-shade-amount),
    $active-border: shade-color($light, $btn-active-border-shade-amount)
  );
}
.#{$aloha-prefix}btn_dark {
  @include button-variant(
    $dark,
    $dark,
    $hover-background: tint-color($dark, $btn-hover-bg-tint-amount),
    $hover-border: tint-color($dark, $btn-hover-border-tint-amount),
    $active-background: tint-color($dark, $btn-active-bg-tint-amount),
    $active-border: tint-color($dark, $btn-active-border-tint-amount)
  );
}

.#{$aloha-prefix}btn_outline_primary {
  @include button-outline-variant($primary);
}
.#{$aloha-prefix}btn_outline_secondary {
  @include button-outline-variant($secondary);
}
.#{$aloha-prefix}btn_outline_success {
  @include button-outline-variant($success);
}
.#{$aloha-prefix}btn_outline_info {
  @include button-outline-variant($info);
}
.#{$aloha-prefix}btn_outline_warning {
  @include button-outline-variant($warning);
}
.#{$aloha-prefix}btn_outline_danger {
  @include button-outline-variant($danger);
}
.#{$aloha-prefix}btn_outline_light {
  @include button-outline-variant($light);
}
.#{$aloha-prefix}btn_outline_dark {
  @include button-outline-variant($dark);
}

.#{$aloha-prefix}btn_link {
  --#{$aloha-prefix}btn_font_weight: 400;
  --#{$aloha-prefix}btn_color: #{$btn-link-color};
  --#{$aloha-prefix}btn_bg: transparent;
  --#{$aloha-prefix}btn_border_color: transparent;
  --#{$aloha-prefix}btn_hover_color: #{$btn-link-hover-color};
  --#{$aloha-prefix}btn_hover_border_color: transparent;
  --#{$aloha-prefix}btn_focus_color: #{$btn-link-color};
  --#{$aloha-prefix}btn_active_color: #{$btn-link-hover-color};
  --#{$aloha-prefix}btn_active_border_color: transparent;
  --#{$aloha-prefix}btn_disabled_color:  #{$btn-link-disabled-color};
  --#{$aloha-prefix}btn_disabled_border_color: transparent;
  --#{$aloha-prefix}btn_box_shadow: none;
  --#{$aloha-prefix}btn_focus_shadow_rgb: #{to-rgb(mix(color-contrast($primary), $primary, 15%))};
  --#{$aloha-prefix}btn_text_decoration: #{$link-decoration};

  text-decoration: var(--#{$aloha-prefix}btn_text_decoration);

  &:hover,
  &:focus {
    --#{$aloha-prefix}btn_text_decoration: #{$link-hover-decoration};
  }
}
