@import "aloha_prefix";

$primary: #47b883 !default
$link: blue !default;

$info: #0DCAF0FF !default
$success: #198754FF !default
$warning: #FFC107FF !default
$danger: #DC3545FF !default

$white: #fff !default;
$black: #000 !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$colors_global: (
    primary: $primary,
    secondary: red,
    text: red,
    info: $info,
    success: $success,
    warning: $warning,
    danger: $danger,
    link: $link,
    white: $white,
    black: $black,
) !default;

$colors: (
    primary,
    secondary,
    text,
    info,
    success,
    warning,
    danger,
    link,
    white,
    black,
) !default;

$bg_colors: (
    primary,
    secondary,
    text,
    info,
    success,
    warning,
    danger,
    link,
    white,
    black,
) !default;


@function getColorVar($value) {
    @return --#{ $aloha-prefix }color_#{ $value };
}
