@import "aloha_prefix";

$primary: #0d6efd !default
$secondary: #6c757d !default
$link: $primary !default;

$info: #0DCAF0FF !default
$success: #198754 !default
$warning: #FFC107FF !default
$danger: #DC3545FF !default

$white: #fff !default;
$black: #000 !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$focus-color: #d0e3a4 !default;


$colors_global: (
    primary: $primary,
    primary_50: mix(#fff, $primary, 50),
    secondary: $secondary,
    secondary_50: mix(#fff, $secondary, 50),
    text: #212529,
    info: $info,
    info_50: mix(#fff, $info, 50),
    success: $success,
    success_50: mix(#fff, $success, 50),
    warning: $warning,
    warning_50: mix(#fff, $warning, 50),
    danger: $danger,
    danger_50: mix(#fff, $danger, 50),
    link: $link,
    link_50: mix(#fff, $link, 50),
    white: $white,
    black: $black,
    gray_100: $gray-100,
    gray_200: $gray-200,
    gray_300: $gray-300,
    gray_400: $gray-400,
    gray_500: $gray-500,
    gray_600: $gray-600,
    gray_700: $gray-700,
    gray_800: $gray-800,
    gray_900: $gray-900,
    focus: $focus-color,
) !default;

$colors: (
    primary,
    secondary,
    text,
    info,
    success,
    warning,
    danger,
    link,
    white,
    black,
) !default;

$bg_colors: (
    primary,
    secondary,
    text,
    info,
    success,
    warning,
    danger,
    link,
    white,
    black,
) !default;

$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
) !default;


@function getColorVar($value) {
    @return --#{ $aloha-prefix }color_#{ $value };
}

@function tint-color($color, $weight) {
    @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
    @return mix(black, $color, $weight);
}

// Shade the color if the weight is positive, else tint it
@function shift-color($color, $weight) {
    @return if($weight > 0, shade-color($color, $weight), tint-color($color, -$weight));
}