$body-font-size:              1rem !default;
$body-font-weight:            400 !default;
$body-line-height:            1.5 !default;

$border-width:                1px !default;
$border-color:                #dee2e6 !default;

$border-radius:               .375rem !default;
$border-radius-small:         .25rem !default;
$border-radius-large:         .5rem !default;
$border-radius-xl:            1rem !default;
$border-radius-2xl:           2rem !default;
$border-radius-pill:          50rem !default;

$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$a_z_index_backdrop:          1050 !default;
$a_z_index_modal:             1055 !default;
$a_z_index_backdrop_confirm:  1058 !default;
$a_z_index_confirm:           1059 !default;
$a_z_index_dropdown:          1060 !default;
