@import "aloha_prefix";
@import "global_variables";

:root {
  --#{$aloha-prefix}font_sans_serif: #{$font-family-sans-serif};
  --#{$aloha-prefix}font_monospace: #{$font-family-monospace};
  --#{$aloha-prefix}body_font_family: var(--#{$aloha-prefix}font_sans_serif);
  --#{$aloha-prefix}body_font_size: #{$body-font-size};
  --#{$aloha-prefix}body_font_weight: #{$body-font-weight};
  --#{$aloha-prefix}body_line_height: #{$body-line-height};



  --#{$aloha-prefix}border_width: #{$border-width};
  --#{$aloha-prefix}border_color: #{$border-color};
  --#{$aloha-prefix}border_color_translucent: rgba(0, 0, 0, 0.175);

  --#{$aloha-prefix}border_radius: #{$border-radius};
  --#{$aloha-prefix}border_radius_small: #{$border-radius-small};
  --#{$aloha-prefix}border_radius_large: #{$border-radius-large};
  --#{$aloha-prefix}border_radius_xl: #{$border-radius-xl};
  --#{$aloha-prefix}border_radius_2xl: #{$border-radius-2xl};
  --#{$aloha-prefix}border_radius_pill: #{$border-radius-pill};


  --#{$aloha-prefix}z_index_backdrop: #{$a_z_index_backdrop};
  --#{$aloha-prefix}z_index_modal: #{$a_z_index_modal};
  --#{$aloha-prefix}z_index_backdrop_confirm: #{$a_z_index_backdrop_confirm};
  --#{$aloha-prefix}z_index_confirm: #{$a_z_index_confirm};
  --#{$aloha-prefix}z_index_dropdown: #{$a_z_index_dropdown};
}

body {
  margin: 0;
  font-family: var(--#{$aloha-prefix}body_font_family);
  font-size: var(--#{$aloha-prefix}body_font_size);
  font-weight: var(--#{$aloha-prefix}body_font_weight);
  line-height: var(--#{$aloha-prefix}body_line_height);
  color: var(--#{$aloha-prefix}color_body);
  background-color: var(--#{$aloha-prefix}color_body_bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}