@import "aloha_prefix";
$column_gabs: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
) !default;

$column_count: 12;

.#{$aloha-prefix}columns {
  display: flex;
}
.#{$aloha-prefix}columns {
  --columnGap: 0.75rem;
  margin-left: calc(-1 * var(--columnGap));
  margin-right: calc(-1 * var(--columnGap));
  > .#{$aloha-prefix}column {
    padding-left: var(--columnGap);
    padding-right: var(--columnGap);
  }
}
.#{$aloha-prefix}column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}
@each $gab-key, $gab-value in $column_gabs {
  .#{$aloha-prefix}columns_gab_#{$gab-key} {
    --columnGap: #{$gab-value};
  }
}
@for $i from 1 through $column_count {
  .#{$aloha-prefix}columns_count_#{$i} {
    --columnCount: #{$i};
  }
}
@for $i from 1 through $column_count {
  .#{$aloha-prefix}column_#{$i} {
    flex: none;
    width: calc(100% / var(--columnCount) * #{$i});
  }
}
@for $i from 1 through $column_count - 1 {
  .#{$aloha-prefix}column_offset_#{$i} {
    margin-left: calc(100% / var(--columnCount) * #{$i});
  }
}


